body {
    font: 10px, sans-serif;
}

svg {
    background-color: #ffffff;
    border-radius: 5px;
}

.axis path, .axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}

.barra {
    fill: steelblue;
}

.barra:hover {
    cursor: pointer;
    fill: brown;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}

.ponto {
    fill: steelblue;
}

#container-entrantes-graduandos-chart {
  min-height: 250px;
  min-width: 500px;
}

#chartEmpregadosGraduadosAno {
  min-height: 250px;
  min-width: 500px;
}

#chartPergunta3 {
    min-height: 250px;
    min-width: 500px;
}

.d3-tip {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.tip-value {
    color: lightblue;
    font-size: large;
}

/*.x.axis .tick { display: none; }*/